/* Styles for Footer */
.footer {
    background-color: #0f5c05; /* Màu nền tối để tạo cảm giác chuyên nghiệp */
    color: #ffffff; /* Màu chữ trắng */
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    width: 25%;
    padding: 10px;
    min-width: 200px; /* Đảm bảo cột có chiều rộng tối thiểu trên màn hình nhỏ */
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #bdbdbd;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column ul li a:hover {
    color: #ffffff;
  }
  
  .footer-socials {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .footer-socials a {
    color: #bdbdbd;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .footer-socials a:hover {
    color: #ffffff;
  }
  
  /* Responsive footer: chỉnh footer cho mobile */
  @media screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-column {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  